@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.ck-editor__editable_inline{
    height: 600px;
    font-size: 14px;
    padding: 0 100px 0 100px;
    color: black;
}
.ck-editor__editable_inline h1{
    font-size: 50px
}
.darkmode-layer, .darkmode-toggle {
    z-index: 500;
  }

/* :root {
    --my-color: #fff;
}
[data-theme='dark'] {
    --my-color: #000;
}
[data-theme='pink'] {
    --my-color: #ffabc8;
} */
